* {
  box-sizing: border-box;
}

.cafeRegistration {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 15px 9px;
  border-bottom: 1px solid #d9d9d9;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #fff;
}

.backIcon {
  cursor: pointer;
  margin-left: 9px;
}

.completeButton {
  font-size: 14px;
  padding: 5px 12px;
  background-color: #ff7f48;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 16px;
}

.imageUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.imagePlaceholder {
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7d7d7d;
  font-size: 13px;
}

.imageUpload span {
  margin-top: 10px;
}

.inputContainer {
  background-color: white;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  overflow-y: auto;
  padding: 20px;
  margin-top: -20px;
  margin-bottom: 50px;
}

.inputContainer::-webkit-scrollbar {
  display: none;
}

.inputGroup {
  margin-bottom: 16px;
}

.input {
  width: 100%;
  padding: 7px 10px;
  margin-top: 11px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 13px;
}

.inputGroup label {
  color: #525252;
  font-weight: bold;
  font-size: 11px;
  margin-left: 6px;
}

.inputGroup textarea {
  width: 100%;
  padding: 7px 10px;
  margin-top: 11px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 13px;
  resize: none;
}

.inputGroup::placeholder {
  color: #d4d4d4;
}

.tabs {
  display: flex;
  margin-top: 16px;
  border-bottom: 1px solid #d9d9d9;
}

.tabs button {
  flex: 1;
  padding: 10px;
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  border-top: 3px solid transparent;
  margin-top: 16px;
}

.tabs .active {
  border-top: 3px solid #ff7f48;
  font-weight: bold;
}

.tabContent {
  padding: 16px 0;
}

.operatingDays {
  margin-top: 16px;
}

.operatingDays label {
  display: block;
  margin-bottom: 17px;
  margin-left: 6px;
  font-weight: bold;
  font-size: 11px;
  color: #525252;
}

.days {
  display: flex;
  gap: 10px;
  margin-bottom: 17px;
}

.days button {
  width: 39px;
  height: 39px;
  padding: 12px;
  border-radius: 50%;
  background-color: #e3e3e3;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days button.selected {
  background-color: #ff7f48;
  color: white;
  border: none;
}

.timeInputs {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.timeRow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
}

.timeRow input {
  width: 90px;
  margin-top: 2px;
  padding-left: 27px;
  font-size: 11px;
  color: black;
}

.timeRow label {
  margin-left: 6px;
  font-size: 11px;
  font-weight: bold;
}

.addDayButton {
  margin-top: 16px;
  padding: 12px;
  width: 100%;
  background-color: #ff7f48;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  border: none;
  border-top: 5px solid #d9d9d9;
  margin: 16px -20px;
  position: relative;
}

.additionalTimeSection {
  padding: 11px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  margin-top: 16px;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  background-color: white;
}

.removeButton {
  position: absolute;
  top: -3px;
  right: -3px;
  background: none;
  border: 1px solid #dadada;
  color: #dadada;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.menuSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.menuHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuInfo {
  display: flex;
  flex-direction: column;
}

.menuSection h2 {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 1px;
  margin-left: 10px;
}

.menuSection p {
  font-size: 11px;
  margin: 0;
  margin-left: 10px;
}

.menuFields {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.inputFields {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.menuSection input[type="text"] {
  width: 100%;
  padding: 8px 7px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 11px;
  color: black;
}

.input::placeholder {
  color: #d4d4d4;
  font-size: 11px;
}

.imageUploadButton {
  width: 120px;
  height: 120px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #7d7d7d;
  font-size: 13px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-left: 45px;
  margin-right: 10px;
}

.imageUploadButton span {
  margin-top: 2px;
}

.addMenuButton {
  background-color: #ff7f48;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  padding: 8px 12px;
  margin-right: 10px;
}

.sectionSeparator {
  border: none;
  border-top: 1px solid #d9d9d9;
  margin-top: 10px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  background-color: #fff;
  padding: 35px 20px 20px;
  border-radius: 10px;
  width: 70%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.modal h3 {
  font-size: 14px;
  font-weight: bold;
}

.modal p {
  font-size: 11px;
}

.modalCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #757575;
}

.modalButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.resetButton {
  width: 134px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 28px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.saveButton {
  width: 134px;
  background-color: #ff7f48;
  color: white;
  border: none;
  border-radius: 28px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}