.container {
  width: 100%;
  margin: 0 auto;
}

/* 상단 네비바 */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px 15px 9px;
  border-bottom: 2px solid #d9d9d9;
}

.title {
  font-size: 16px;
  text-align: center;
  flex: 1;
  padding-right: 24px;
}

/* 카페 리스트 */
.cafeList {
  padding: 22px;
}

.cafeItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.cafeImage {
  width: 95px;
  height: 95px;
  overflow: hidden;
  background-color: #d9d9d9;
  border-radius: 10px;
  margin-right: 15px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cafeInfo {
  flex-grow: 1;
}

.cafeName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #0f0f0f;
}

.cafeDescription {
  font-size: 14px;
  color: #757575;
  margin-bottom: 5px;
}

.cafeMeta {
  font-size: 12px;
}

.temperature {
  color: #ff7f48;
  margin-right: 10px;
}

.distance {
  color: #757575;
}
