.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

/* 상단 네비바 */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.title {
  font-size: 18px;
  text-align: center;
  flex: 1;
}
