.container {
  width: 100%;
  margin: 0 auto;
}

.signupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* 상단 네비바 */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px 49px 9px;
}

.title {
  font-size: 16px;
  text-align: center;
  flex: 1;
  padding-right: 24px;
}

/* 단계 표시 */

.stepLevel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: #d9d9d9;
  color: white;
  margin: 0 10px;
}

.step.active {
  background-color: #ff7f48;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin: 0 5px;
}

/* 메시지 */
.chooseMsg {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 39px;
  margin-bottom: 50px;
}

.enterMsg {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 10px;
}

.secretMsg {
  font-size: 13px;
  text-align: center;
  margin-bottom: 50px;
}

.successMsg {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* 회원타입 선택 */
.cardContainer {
  height: 142px;
  width: 312px;
  border-radius: 10px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 3em;
}

.cardHeader {
  width: 300px;
  background-color: #d9d9d9;
  color: #828282;
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: left;
  margin-left: 6px;
  /* 추가 */
  position: relative;
  bottom: -1px;
}

.headerSelected {
  background-color: #ff7f48;
  color: black;
}

.cardContent {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  gap: 40px;
}

.cardImage {
  width: 60px;
  height: 80px;
  margin-left: 20px;
}

.cardText {
  text-align: left;
}

.cardTextDescription {
  color: #828282;
  font-size: 13px;
}

.cardTextType {
  font-size: 20px;
  font-weight: bold;
}

.selected {
  border: 2px solid #ff7f48;
}

.UserSelection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 회원가입 폼 */

.formContainer {
  width: 100%;
  margin: 0 auto;
}

.groupForm:last-child {
  margin-bottom: 0;
}

.groupForm {
  margin-bottom: 34px;
  margin-left: 29px;
  display: flex;
  flex-direction: column;
}

.groupForm label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 14px;
}

.groupForm input {
  width: 90%;
  padding: 10px;
  border: none;
  border-bottom: 1.5px solid #d9d9d9;
  font-size: 15px;
}

/* 이메일 입력 그룹 */
.inputEmailGroup {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 90%;
}

.inputEmailGroup input[type="text"],
.inputEmailGroup select {
  height: 44px;
  flex: 1;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-bottom: 1.5px solid #d9d9d9;
  background-color: transparent;
}

.inputEmailGroup span {
  font-size: 17px;
  color: #d9d9d9;
}

/* 계좌 입력 그룹 */
.inputAccountGroup {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 90%;
}

.inputAccountGroup select {
  flex: 1;
  height: 44px;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-bottom: 1.5px solid #d9d9d9;
}

.inputAccountGroup input[type="text"] {
  flex: 3;
  height: 44px;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-bottom: 1.5px solid #d9d9d9;
}

/* 비밀번호 일치 메시지 */
.pwMsg {
  margin-top: 8px;
  margin-left: 36px;
  margin-bottom: 60px;
}

.match {
  color: #00973d;
  font-size: 10px;
}

.mismatch {
  color: #ff4d00;
  font-size: 10px;
}

/* 개업 일자 그룹 */

.datePicker {
  flex: 1; /* DatePicker가 남은 공간을 차지하도록 설정 */
  border: none;
  border-bottom: 1px solid #d1d1d1; /* 하단에만 경계선 추가 */
  font-size: 16px;
  color: #b3b3b3;
  background-color: transparent;
  outline: none;
  padding: 5px 0;
}

/* 이동 버튼 */
.firstNextBtn {
  width: 267px;
  height: 49px;
  background-color: black;
  color: white;
  border-radius: 28px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-top: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  position: fixed;
  bottom: 92px;
  left: 50%;
  transform: translateX(-50%);
}

.nextBtn {
  width: 115px;
  height: 49px;
  background-color: black;
  color: white;
  border-radius: 28px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-left: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prevBtn {
  width: 115px;
  height: 49px;
  background-color: black;
  color: white;
  border-radius: 28px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBtn {
  width: 267px;
  height: 49px;
  background-color: #ff7f48;
  color: white;
  border-radius: 28px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5em;
}

/* 이전/다음 달의 날짜 숨기기 */
.react-datepicker__day--outside-month {
  display: none;
}
